{% include "header.html" %}
  <header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1 class="m-3">
              Projects
            </h1>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% for project in all_projects: %}
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h2 class="m-3">
              {{ project.name }}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center h-100">
      <div class="col-12 col-md-6 mx-auto">
        <div class="my-div mt-4">
          <ul class="list-group">
            {% for task in all_tasks.get(project.id): %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                         id="todo{{ project.id|string }} {{ task.id|string }}" {% if task.is_done %}checked{% endif %} >
                <label class="form-check-label" for="todo{{ project.id|string }} {{ task.id|string }}">
                      <div>{{ task.name }}</div>
                      <div class="due-date"> {{ task.date }}</div>
                  </label>
              </div>
              <div class="btn-group" role="group" aria-label="Button group">
                <div>
                  <a
                    href="{{ url_for('edit_task', task_id=task.id) }}"
                    class="btn btn-secondary m-1"
                    style="
                      --bs-btn-padding-x: 0.2rem;
                      --bs-btn-padding-y: 0.2rem;
                      background-color: #557c55;
                    "
                  >
                    Change
                  </a>
                </div>

                <div>
                  <a
                    href="{{ url_for('delete_task', task_id=task.id) }}"
                    class="btn btn-secondary m-1"
                    style="
                      --bs-btn-padding-x: 0.2rem;
                      --bs-btn-padding-y: 0.2rem;
                      background-color: #fa7070;
                    "
                  >
                    Delete
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="text-center mb-3 p-2">
      <a href="{{ url_for('add_project') }}"
         class="btn btn-secondary">
          Add Project
      </a>
      <a href="{{ url_for('add_task', from_page=request.endpoint) }}"
         class="btn btn-secondary">
          Add Task
      </a>
  </div>

{% include "footer.html" %}