{% include "header.html" %}
  <header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1 class="m-3">
              Projects
            </h1>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% for project in all_projects: %}
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <div class="editable" onclick="enableEdit('{{ project.id }}')">
                <span id="projectName_{{ project.id }}">
                    {{ project.name }}
                </span>
                <div class="edit-buttons" id="editButtons_{{ project.id }}">
                    <input type="text" id="newProjectName_{{ project.id }}" value="{{ project.name }}">
                    <button onclick="saveChanges('{{ project.id }}')">Save</button>
                    <button onclick="cancelEdit('{{ project.id }}')">Cancel</button>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center h-100">
      <div class="col-12 col-md-6 mx-auto">
        <div class="my-div mt-4">
          <ul class="list-group">
            {% for task in all_tasks.get(project.id): %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="form-check">
                <!-- set a variable that will represent a checkbox                 -->
                {% set checkbox_id = project.id|string + task.id|string %}
                  <input class="form-check-input" type="checkbox"
                         onchange="toggleCheckbox({{ checkbox_id }}, {{ task.id }})"
                         id="todo{{ checkbox_id }}" {% if task.is_done %}checked{% endif %} >
                  <label class="form-check-label" for="todo{{ checkbox_id }}">
                      <div>{{ task.name }}</div>
                      <div class="due-date"> {{ task.date }}</div>
                  </label>
              </div>
              <div class="btn-group" role="group" aria-label="Button group">
                <div>
                  <a
                    href="{{ url_for('edit_task', task_id=task.id, from_page=request.endpoint) }}"
                    class="btn btn-secondary m-1"
                    style="
                      --bs-btn-padding-x: 0.2rem;
                      --bs-btn-padding-y: 0.2rem;
                      background-color: #557c55;
                    "
                  >
                    Change
                  </a>
                </div>

                <div>
                  <a
                    href="{{ url_for('delete_task', task_id=task.id, from_page=request.endpoint) }}"
                    class="btn btn-secondary m-1"
                    style="
                      --bs-btn-padding-x: 0.2rem;
                      --bs-btn-padding-y: 0.2rem;
                      background-color: #fa7070;
                    "
                  >
                    Delete
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="text-center mb-3 p-2">
      <a href="{{ url_for('add_project') }}"
         class="btn btn-secondary">
          Add Project
      </a>
      <a href="{{ url_for('add_task', from_page=request.endpoint) }}"
         class="btn btn-secondary">
          Add Task
      </a>
  </div>

<!--Script for responding to changing on checkboxes-->
  <script>
    function toggleCheckbox(checkboxId, taskId) {
        var checkbox = document.getElementById('todo' + checkboxId);
        var isChecked = checkbox.checked;

        // Sending the state of the checkbox to the server
        fetch('/toggle_task', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                taskId: taskId,
                isChecked: isChecked,
            }),
        })
        .then(response => response.json())
        .then(data => {
            // Processing the response from the server (no need)
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
  </script>

<!--Scripts for responding to clicking on project labels and activate changing mode-->
  <script>
    function enableEdit(projectId) {
        var projectNameSpan = document.getElementById('projectName_' + projectId);
        var editButtonsDiv = document.getElementById('editButtons_' + projectId);

        // Hide the span with the project name
        projectNameSpan.style.display = 'none';

        // Show the edit buttons
        editButtonsDiv.style.display = 'block';
    }

    function saveChanges(projectId) {
        var projectNameSpan = document.getElementById('projectName_' + projectId);
        var editButtonsDiv = document.getElementById('editButtons_' + projectId);
        var newProjectNameInput = document.getElementById('newProjectName_' + projectId);

        // Sending new name to the server
        fetch('/update_project', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                projectId: projectId,
                newName: newProjectNameInput.value,
            }),
        })
        .then(response => response.json())
        .then(data => {
            // Updating the project on the page
            projectNameSpan.innerText = data.newName;
            editButtonsDiv.style.display = 'none';
            projectNameSpan.style.display = 'inline-block';
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function cancelEdit(projectId) {
        console.log('Cancel button clicked for project ID:', projectId);

        var projectNameSpan = document.getElementById('projectName_' + projectId);
        var editButtonsDiv = document.getElementById('editButtons_' + projectId);

        if (projectNameSpan && editButtonsDiv) {
            // Wait for a small period of time and then hide edit btns and show project name
            setTimeout(function () {
                editButtonsDiv.style.display = 'none';
                projectNameSpan.style.display = 'inline-block';
            }, 1);
        } else {
            console.error('Elements not found for project ID:', projectId);
        }
    }
  </script>

{% include "footer.html" %}